section.terms
  img(src="./images/bubbles-terms.webp", alt="" aria-hidden="true").hide-for-md.terms__bubbles
  .wrapper
    header.terms__header
      h2.terms__title Условия участия
      p.terms__desc Приём работ закрыт.
        br
        |Ждём вас в октябре 2024 года с новыми рецептами!
    img(src="./images/reversed-spoon.webp", alt="" aria-hidden="true").show-for-sm.terms__spoon
    article.scroll
      h2.scroll__title Регламент

      p.scroll__rule
        | 1. <b>Оригинальность</b>. Ваш рецепт должен быть уникальным и не повторяться с рецептами в&nbsp;
        a(href=`${baseURL}/past-competition.html`) прошлых конкурсах
        |. Если не уверены, напишите нам на hello@veganrussian.ru.
      p.scroll__rule
        | 2. <b>Веганство</b>. Используйте для своих рецептов только растительные ингредиенты и веганские продукты с сайта&nbsp;
        a(href='https://veganrussian.ru/') veganrussian.ru
        |.
      p.scroll__rule 3. <b>Тематика Хэллоуина</b>. Рецепты должны быть в духе Хэллоуина: ведьмы, вампиры, зомби и прочая нечисть. Пусть ваши блюда выглядят жутко интересно!
      p.scroll__rule 4. <b>Призы</b>
      p.scroll__rule
        | a. Для получения приза победители должны будут предоставить свои контактные
        | данные: адрес, ФИО и, в зависимости от страны доставки приза, паспортные данные.
      p.scroll__rule
        | b. Если победитель не готов предоставить эти данные, или не выходит на связь в
        | течение 7 дней, то приз перейдет к следующему участнику по количеству голосов.
      p.scroll__rule 5. <b>Расписание</b>
      p.scroll__rule a. Приём рецептов: 4 октября 18:00 — 18 октября 18:00 по МСК
      p.scroll__rule b. Голосование: 27 октября 18:00 — 30 октября 18:00 по МСК
      p.scroll__rule c. Результаты: 31 октября в 18:00 по МСК
      img(src="./images/rotated-spoon.webp", alt="" aria-hidden="true").scroll__spoon.hide-for-sm
    a(href="https://docs.google.com/document/d/1RKYBsKBYIMAhr8Vl0WPWmwUO-1lWTmzJw-yGf9Kq_SY/edit" target="_blank").button.terms__button Шаблон рецепта
    //a(href="https://forms.yandex.ru/cloud/6517024df47e7327438bafe4/" target="_blank").button.terms__button Прислать рецепт
    a(href="" target="_blank").button.terms__button Прислать рецепт
